 @keyframes marquee {
    0% {
      transform: translateX(-18%);
    }
    25% {
      transform: translateX(18%);
    }
    50% {
        transform: translateX(-18%);
      }
   75% {
        transform: translateX(18%);
      }
   100% {
    transform: translateX(-18%);

   }
  
  }
  
  .animate-marquee {
    animation: marquee 60s linear infinite;
  }
  