  
  .cursor {
    position: fixed;
    pointer-events: none;
    opacity: 0; 
  }
  
  .hidden {
    opacity: 0; 
  }
  
  .visible {
    opacity: 1; 
  }
  
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }